.L-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.L-form h1{
    text-align: center;
    color: #301913;
}
.Enter-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: #301913 solid 2px;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}
.Enter-field label{
    color: #ffffff;
    font-size: 30px;
    margin-right: 2rem;
}
.Enter-field input{
    padding: 10px 15px;
}
.SendDiv button{
    background-color: #8a4700;
    padding: 10px 15px;
    border-radius: 20px;
}

